<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <meta name="author" content="F19-cs-361-group-2">
  <meta name="description" content="OSU-cs361-project">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CO2 Tracker</title>

  <!-- Material Design Theming -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link type="image/x-icon" rel="shortcut icon" href="favicon-1.ico"/>
  <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Header section containing title -->
    <header class="mdl-layout__header mdl-color-text--white mdl-color--light-green-700">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
            <img id="foot-logo" src="baby-feet-icon-11.jpg" alt="Pair of green feet">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
            <h3>CO2 Footprint Tracking Application</h3>
        </div>
        </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

            {{{body}}}

        </div>
    </main>
    </div>
</body>
</html>